Repository toptal/keycodes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{css,scss,sass}": [
    "stylelint --fix"
  ]
}

fix descriptions
  components/KeyCodeCards/BasicCards/description.tsx
  components/KeyCodeCards/BasicCards/eventLocation.tsx
Due: eslint --fix --max-warnings=0

Fix context components and ga workflows
  .github/workflows/coverage.yml
  .github/workflows/e2e-pr.yml
  .github/workflows/e2e.yml
  .github/workflows/unit.yml
  components/KeyCodeCards/KeyHistoryCard/index.tsx
  components/KeyCodeProvider/index.tsx
  components/KeyCodesTable/LinkElement/index.tsx
  lib/state/key-code-context.tsx
  lib/state/key-code-provider.tsx
  lib/state/use-key-watcher.ts
  package.json
  pages/[key].tsx
  pages/_app.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0

fix git workflows and unit tests
  .github/workflows/e2e.yml
  components/Layout/index.tsx
Due: eslint --fix --max-warnings=0

fix style lint issue
  components/Layout/layout.module.scss
Due: stylelint --fix

fix configs
  .eslintignore
  .gitignore
  .prettierrc
Due: none

Fix lint problems
  .happo.js
  components/GoogleAnalytics/index.tsx
  components/GoogleTagManager/index.tsx
  components/KeyCodeCardList/index.tsx
  components/KeyCodeProvider/index.tsx
  components/KeyCodesTable/LinkElement/index.tsx
  components/KeyCodesTable/index.tsx
  components/Layout/index.test.tsx
  components/Layout/index.tsx
  lib/analytics.ts
  lib/keycodes/index.ts
  lib/keycodes/with-events.ts
  lib/state/key-code-context.tsx
  lib/state/use-key-watcher.ts
  lib/types/gtag.ts
  lib/types/healthcheck.ts
  next.config.js
  package.json
  pages/[key].tsx
  pages/_document.tsx
  pages/api/healthcheck.ts
  pages/temp/analytics.tsx
  test/e2e/a11y.e2e.test.ts
  test/lib/analytics.test.ts
  yarn.lock
Due: eslint --fix --max-warnings=0

Fix missing parts
  .github/workflows/happo.yml
  pages/temp/analytics.tsx
Due: eslint --fix --max-warnings=0

Fix e2e tests
  .github/workflows/e2e.yml
  babel.config.js
  babel_.config.js
Due: eslint --fix --max-warnings=0

[SAT-2067] Remove service worker as it is not used anywhere
  public/service-worker.js
Due: eslint --fix --max-warnings=0

[No-Jira] Added a deafult PR template
  .github/pull_request_template.md
Due: none

Code review fixes
  .github/pull_request_template.md
Due: none

Fixed target branch name
  .github/pull_request_template.md
Due: none

[SAT-2067] Remove service worker as it is not used anywhere (#323)
  public/service-worker.js
Due: eslint --fix --max-warnings=0

[No-Jira] Added a deafult PR template (#324)
  .github/pull_request_template.md
Due: none

Changing the team name from Site Acquisition to Utilities.
  .github/CODEOWNERS
Due: none

Changing the team name from Site Acquisition to Utilities. (#325)
  .github/CODEOWNERS
Due: none

Use UI Library
  components/KeyCodeCardList/index.tsx
  components/Layout/index.tsx
  components/key-code-cards/EventDumpCard/index.tsx
  components/key-code-cards/KeyHistoryCard/index.tsx
  components/key-code-cards/MetaKeysCard/index.tsx
  components/key-code-cards/SimilarKeysCard/index.tsx
  components/key-code-cards/UnicodeCard/index.tsx
  components/key-code-cards/basic-cards/BasicCardContainer/index.tsx
  next.config.js
  package.json
  pages/404.tsx
  pages/_app.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0

Update open source documentation
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/01-testing.md
  docs/02-linting.md
  docs/04-logging.md
Due: none

Remove jira reference + remove npm token reference
  .github/actions/setup-steps/action.yml
  .github/pull_request_template.md
  .github/workflows/coverage.yml
  .github/workflows/e2e.yml
  .github/workflows/lint-typescript.yml
  .github/workflows/unit.yml
  README.md
Due: none

Update GHA versions
  .github/actions/build-steps/action.yml
  .github/actions/setup-steps/action.yml
  .github/workflows/coverage.yml
  .github/workflows/e2e.yml
  .github/workflows/lint-typescript.yml
  .github/workflows/unit.yml
Due: none

Remove npmrc reference
  . eslintignore
  .dockerignore
  Dockerfile.deploy
Due: none

Fix: spelling, commented code, toptal references
  .github/pull_request_template.md
  LICENSE
  README.md
  components/key-code-cards/basic-cards/EventKeyCard/index.test.tsx
  config/sentry-filter.js
  docs/03-logging.md
  next.config.js
  pages/api/healthcheck.ts
Due: eslint --fix --max-warnings=0

Fix pr template and package json
  .github/pull_request_template.md
  package.json
Due: none

Fix readme file - add nodejs link
  README.md
Due: none

Fix readme file - add nodejs link (#328)
  README.md
Due: none

Fix typo in test file
  components/Layout/index.test.tsx
Due: eslint --fix --max-warnings=0

Fix typo in test file (#329)
  components/Layout/index.test.tsx
Due: eslint --fix --max-warnings=0

[UTI-2608] Team name change to Marketing Tools 2
  .github/CODEOWNERS
Due: none

[UTI-2608] Team name change to Marketing Tools 2 (#332)
  .github/CODEOWNERS
Due: none

Update README.md
  README.md
Due: none

Update README.md (#335)
  README.md
Due: none

modify getKeyCodeEvent to match better. Fixes 336
  lib/utils/get-key-code-event.ts
Due: eslint --fix --max-warnings=0

reinstate clipboard functionality. Fixes #336
  components/key-code-cards/basic-cards/ClipboardCopy/index.tsx
  components/key-code-cards/basic-cards/DescriptionCard/index.tsx
  components/key-code-cards/basic-cards/EventCodeCard/index.tsx
  components/key-code-cards/basic-cards/EventKeyCard/index.tsx
  components/key-code-cards/basic-cards/EventLocationCard/index.tsx
  components/key-code-cards/basic-cards/EventWhichCard/index.tsx
Due: eslint --fix --max-warnings=0

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Set secrets scan into unit.yml to get results, and test logic
  .github/workflows/unit.yml
Due: none

Updated deprecated versions of actions/upload-artifact
  .github/workflows/coverage.yml
  .github/workflows/e2e.yml
  .github/workflows/unit.yml
Due: none
